group3-df/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "group3-df"
		},
		"LS_ADLS_Bronze_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_Bronze'"
		},
		"LS_AzureFileShare_SAC_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_AzureFileShare_SAC'"
		},
		"LS_Databricks_Silver_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_Databricks_Silver'"
		},
		"LS_ADLS_Bronze_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsbellevuegrp3.dfs.core.windows.net/"
		},
		"LS_AKV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://DataCycleGroup3Keys.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_Bronze')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_Bronze_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_Bronze_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AKV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_AKV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureFileShare_SAC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_AzureFileShare_SAC_connectionString')]",
					"fileShare": "sac-export-share"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Databricks_Silver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-7405619109510762.2.azuredatabricks.net",
					"clusterId": "0223-115927-nvtos4a4",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_Databricks_Silver_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Group3-VM-Runtime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/gh-datacycle-oidc')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/852f0176-1826-4957-a7fc-b1cd7e7aac73/resourceGroups/datafactory-rg505/providers/Microsoft.ManagedIdentity/userAssignedIdentities/gh-datacycle-oidc"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run_Knime')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Call_If_Monday",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Data_Preparation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(dayOfWeek(pipeline().TriggerTime), 1)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Call_Model_Selection",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"url": "https://api.edu-hub.knime.com/deployments/rest:509f9c76-1fd3-444d-80a6-4df7848b1621/execution",
										"body": "{}",
										"authentication": {
											"type": "Basic",
											"username": "N8XZA3zjIJVLk-P2XxLKBkLv1_aT-bX302wwgIGOmrY",
											"password": {
												"type": "AzureKeyVaultSecret",
												"store": {
													"referenceName": "LS_AKV",
													"type": "LinkedServiceReference"
												},
												"secretName": "knimeappsecret"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Cons",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Call_If_Monday",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://api.edu-hub.knime.com/deployments/rest:348633fa-f10f-4a27-99de-11e1707190cb/execution",
							"body": "{}",
							"authentication": {
								"type": "Basic",
								"username": "N8XZA3zjIJVLk-P2XxLKBkLv1_aT-bX302wwgIGOmrY",
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "LS_AKV",
										"type": "LinkedServiceReference"
									},
									"secretName": "knimeappsecret"
								}
							}
						}
					},
					{
						"name": "Solar",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Call_If_Monday",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://api.edu-hub.knime.com/deployments/rest:eb96aa91-239b-4cf2-8c7e-a8a40516d4f3/execution",
							"body": "{}",
							"authentication": {
								"type": "Basic",
								"username": "N8XZA3zjIJVLk-P2XxLKBkLv1_aT-bX302wwgIGOmrY",
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "LS_AKV",
										"type": "LinkedServiceReference"
									},
									"secretName": "knimeappsecret"
								}
							}
						}
					},
					{
						"name": "Data_Preparation",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://api.edu-hub.knime.com/deployments/rest:e481f0fd-89ba-409a-aaa2-d8a648956949/execution",
							"body": "{}",
							"authentication": {
								"type": "Basic",
								"username": "N8XZA3zjIJVLk-P2XxLKBkLv1_aT-bX302wwgIGOmrY",
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "LS_AKV",
										"type": "LinkedServiceReference"
									},
									"secretName": "knimeappsecret"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-16T06:51:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_SACStaging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "sacexport"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FileShare_SAC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureFileShare_SAC",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureFileShare_SAC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Vetroz_Booking_Bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "bookings",
						"fileSystem": "bronze"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Vetroz_Conso_Bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_folder": {
						"type": "string",
						"defaultValue": "others"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().p_folder",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Vetroz_FutureForecasts_Bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "future_forecasts",
						"fileSystem": "bronze"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Vetroz_Meteo_Bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "forecasts",
						"fileSystem": "bronze"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Vetroz_Solar_Bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "solar",
						"fileSystem": "bronze"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "solar_inverters",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "log_timestamp",
						"type": "INT96"
					},
					{
						"name": "inverter_id",
						"type": "INT_32"
					},
					{
						"name": "ac_power_w",
						"type": "INT_32"
					},
					{
						"name": "status_code",
						"type": "INT_32"
					},
					{
						"name": "is_failure",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "solar_aggregated",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "cumulative_reading",
						"type": "DOUBLE"
					},
					{
						"name": "delta_value",
						"type": "DOUBLE"
					},
					{
						"name": "timestamp",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "consumption",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "cumulative_reading",
						"type": "DOUBLE"
					},
					{
						"name": "delta_value",
						"type": "DOUBLE"
					},
					{
						"name": "timestamp",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "temperature",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "actual_temp",
						"type": "DOUBLE"
					},
					{
						"name": "temp_variation",
						"type": "DOUBLE"
					},
					{
						"name": "timestamp",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "humidity",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "actual_humidity",
						"type": "DOUBLE"
					},
					{
						"name": "humidity_variation",
						"type": "DOUBLE"
					},
					{
						"name": "timestamp",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Bronze",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "weather_forecasts",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Time",
						"type": "INT96"
					},
					{
						"name": "Measurement",
						"type": "UTF8"
					},
					{
						"name": "Prediction",
						"type": "INT_32"
					},
					{
						"name": "Unit",
						"type": "UTF8"
					},
					{
						"name": "Value",
						"type": "DOUBLE"
					},
					{
						"name": "Site",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Bronze')]"
			]
		}
	]
}